@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Regional Transport Office 
(Central) Old bodyguard lane, Tulsiwadi, Tardeo, 
Mumbai - 400 034.
    
Phone No.: 022 / 23534600
    
Email: mh01@mahatranscom.in
</p>
