@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Regional Transport Office<br />
    (Central) Old bodyguard lane, Tulsiwadi, Tardeo,<br />
    Mumbai - 400 034.<br />
    <abbr title="Phone">P:</abbr>
    022 / 23534600
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">mh01@mahatranscom.in</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">mh02@mahatranscom.in</a>
</address>
