@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Driving License Authority</h1>
    <p class="lead">Get your Driving License here!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Driving License Authority University</h2>
        <p>
            We maintain registers of drivers and vehicles in the state of Maharashtra, India. This information helps us improve road safety, reduce vehicle related crime, support environmental initiatives and limit vehicle tax evasion.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Scam Email Warning</h2>
        <p>We maintain registers of drivers and vehicles in Great Britain. This information helps us improve road safety, reduce vehicle related crime, support environmental initiatives and limit vehicle tax evasion.</p>
    </div>
    <div class="col-md-4">
        <h2>Driving License Changes</h2>
        <p>Updates and advice to motorists on the abolition of the counterpart to the photocard driving licence.</p>
    </div>
</div>